<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <base href="https://overlord6699.github.io/My-Game-Site"> -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


    <link rel='shortcut icon' href='{{base_path}}/assets/pictures/icons/chest.png' type='image/x-icon'>
    <link rel='stylesheet' href='{{base_path}}/assets/styles/fonts.css'>

    <title>{{page_name}}</title>
</head>

<body>
    <h1>ERROR 404</h1>
</body>

</html>