<!-- СТРЕЛКИ -->
<div class='slide_button swiper-button-prev'>
    <img src='/assets/pictures/decor/{{left_arrow_pict}}' alt="">

</div>

<div class='slide_button swiper-button-next'>
    <img src='/assets/pictures/decor/{{right_arrow_pict}}' alt="">
</div>