<a href="" class="category_container">
    <figure>
        <img class="category_image" src="/assets/pictures/icons/{{category_img}}" alt=""></img>
    </figure>
    <figcaption class="category_text">
        {{category_name}}
    </figcaption>
</a>