<div class='footer_container'>
    <div class='footer_content'>
        <ul class='footer_icons_container'>
            <li>
                <a href="https://www.instagram.com/magelich/" target='_blank'>
                    <img class='social_media_icon' src="/assets/pictures/icons/insta_icon.png" alt="">

                </a>
            </li>
            <li>
                <a href="https://vk.com/i.maglich" target='_blank'>
                    <img class='social_media_icon' src="/assets/pictures/icons/vk_icon.png" alt="">

                </a>
            </li>
        </ul>
    </div>
</div>