 <div class='trapezoid_text_container'>
    <img class='trapezoid_container' src='/assets/pictures/decor/trapezoid.png' alt=""></img>
    <p class='trapezoid_text'>
        {{section_name}}
    </p>
</div>