<div class='swiper-slide'>
    <div class="product_container">
        <a href="" class="product_link">
            <figure>
                <img class="product_image" src="../assets/pictures/shop/{{product_img}}"
                    alt=""></img>
            </figure>
            <figcaption>
                <h2 class="product_text">{{product_name}}</h2>
            </figcaption>
        </a>
    </div>
</div>