<div class="section_container">
    <div class='section_name'>
        <p>{{category_name}}</p>
    </div>

    <p class="category_name hidden">{{category_DBname}}</p>

    <div class="section_underline"></div>
</div>