<ul class="user_info_header">
    <li>
        <a class="selected" href="/account">Покупки</a>
    </li>
    <li>
        <a href='/account/wishlist'>Корзина</a>
    </li>
    <li>
        <a href="/logout">Выйти</a>
    </li>
</ul>

<div class="section_underline">
</div>