.footer_container {
    display: flex;

    background: #23252B;
}

.footer_content {
    display: flex;
}

.footer_icons_container {
    display: flex;
    list-style: none;

    height: 100%;
    width: 100%;
}

.social_media_icon {
    height: 8vmin;
    width: 8vmin;

    opacity: 0.8;
}

.social_media_icon:hover {
    opacity: 1;
}